@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: rgb(55, 70, 100)
}

.headerTitle {
    background: linear-gradient(0deg, rgba(17,24,36,1) 0%, rgba(29,66,142,1) 100%);
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.descBackground {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    height: 26.4rem;
}

.mainPage {
    height: 58rem;
}

@media (max-width: 500px) {
    .paginationBar {
        position: fixed;
        bottom: 0px;
    
    }

    .mainPage {
        
        height: 39rem;
        overflow-y: scroll;
    }

    .headerWrapper {
        flex-direction: column;
    }

    .headerTitle {
        width: 100%;
    }

    .headerInfo {
        width: 100%;
    }

    .inputBar {
        width: 7rem;
        margin-top: 1rem;
    }

}